.bgi {
    min-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: end;
    }
}
.movieHero {
    height: 450px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.film {
    display: flex;
    position: relative;
    align-items: flex-end;
    z-index: 2;
    height: 100%;
    margin: -20px 24px;
    h1 {
        font-size: 32px;
        font-weight: 500;
        color: #fff;
        font-family: "poppins";
    }
    span {
        margin-left: 8px;
        font-family: "poppins";
        font-size: 12px;
        font-weight: 600;
        color: #dedede;
    }
    span:first-child {
        margin-left: 0;
    }
    p {
        margin-top: 8px;
        margin-bottom: 0;
        font-family: "poppins";
        line-height: 1.5;
        font-weight: 400;
        color: #dedede;
        font-size: 14px;
    }
    img {
        width: 160px;
        border-radius: 4px;
        box-shadow: 0px 0px 8px #0a0a0a;
        margin-right: 24px;
    }
    .heart {
        font-size: 12px;
        color: #fff;
      
    }
    .play {
        font-size: 16px;
        color: #fff;
      
    }
    .icons{
        background-color: transparent;
        border: none;
        position: relative;
        margin-top: 15px;
    }
    .icon {
    
        top: 2px;
        left: 2px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        padding: 3px 4px;
        border: 2px solid red;
    }

}

.spann {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0) 0%, #121212 100%);
    z-index: 1;
}
